<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDq_ATd7PtrPmzd8xzrnoQIGpjv8FZyiKE</string>
	<key>GCM_SENDER_ID</key>
	<string>730751889240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gaemanda.dev</string>
	<key>PROJECT_ID</key>
	<string>gaemanda-91125</string>
	<key>STORAGE_BUCKET</key>
	<string>gaemanda-91125.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730751889240:ios:6394d56f1f578a06faff2d</string>
</dict>
</plist>